<!-- Vista para cargar un avatar/imagen de usuario-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Avatar</title>
</head>
<body>
    <!-- Un formulario a través del cual se sube una imágen y un botón para efectuar la carga a la BDD-->
    <form method="POST" enctype="multipart/form-data">  {% csrf_token %}    
           {{ formulario.as_p }}
        <input type="submit" value="Cargar">
    </form>
    <!-- Boton de retorno-->
    <a href="{% url 'Inicio' %}">Volver al inicio</a>
</body>
</html>