<!-- Template hijo de padre.html donde se busca equipos y se imprime los resultados-->
{% extends "AppFinal/padre.html" %}
{% load static %}

{% block dynamicContent %}
    <!-- Contenido de la página. El contenido varía dependiendo de la view-->
    <div class="container-fluid">
        <!-- Boton de retorno-->
        <br><a class="btn btn-secondary" href="{% url 'Equipos' %}">Volver a equipos</a>
        <!-- Titlo y descripcion-->
        <h1 class="mt-4">Buscar un Equipo</h1>
        <h3>Resultados de la búsqueda</h3><br>

        <!-- Se itera por todos los equipos y se trae las coincidencias por nombre-->
        {% if equipos %}
            <ul>
                {% for equipo in equipos %}
                    <li>{{equipo}}</li>
                    
                {% endfor %}
            </ul>
        {% endif %}
        
        <!-- Boton-->
        <br><a class="btn btn-secondary" href="{% url 'EquiposFormulario' %}">Crear Nuevo Equipo</a>
{% endblock %}