<!-- Template hijo de padre.html donde se busca Videojuegos y se imprime los resultados-->
{% extends "AppFinal/padre.html" %}
{% load static %}

{% block dynamicContent %}
    <!-- Contenido de la página. El contenido varía dependiendo de la view-->
    <div class="container-fluid">
        <!-- Boton de retorno-->
        <br><a class="btn btn-secondary" href="{% url 'Videojuegos' %}">Volver a Videojuegos</a>
        <!-- Titlo y descripcion-->
        <h1 class="mt-4">Buscar un Videojuego</h1>
        <h3>Resultados de la búsqueda</h3><br>

        <!-- Se itera por todos los Videojuegos y se trae las coincidencias por nombre-->
        {% if videojuegos %}
            <ul>
                {% for videojuego in videojuegos %}
                    <li>{{videojuego.nombre}}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
        <!-- Boton-->
        <br><a class="btn btn-secondary" href="{% url 'VideojuegosFormulario' %}">Crear Nuevo Videojuego</a>
{% endblock %}